.international-quotation-main-section {
    .quotation-card-inner {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        .quotation-card {
            box-shadow: 0 1.0566px 10.566px #00000026;
            border-radius: 10px;
            width: calc((100% - 60px) / 4);
            margin-left: 15px;
            padding: 15px;
            background: #fff;
            border: 1px solid #f7248500;
            cursor: pointer;
            &:first-child {
                margin-left: 0;
            }
            p {
                color: #0000009c;
                font-weight: 500;
            }
            h2 {
                font-size: 26px;
                font-weight: 600;
                margin-top: 15px;
                line-height: 1;
            }
        }
        .quotation-card.active {
            border: 1px solid #f72485;
        }
    }
    .quotation-data {
        margin-top: 40px;
        box-shadow: 0 1.0566px 10.566px #00000026;
        border-radius: 10px;
        background: #fff;
        .quotation-card-header {
            border-bottom: 1px solid #e6e3e3;
            padding: 10px 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-right: 30px;
            ul {
                margin-left: 10px;
                li {
                    list-style: none;
                    background: #4cc9f0;
                    color: #fff;
                    padding: 8px 14px;
                    border-radius: 5px;
                    border: none;
                    transition: 300ms ease-in-out;
                    font-weight: 500;
                    font-size: 12px;
                    cursor: pointer;
                    &:hover {
                        background: #f72485;
                    }
                }
            }
        }
        .quotation-card-body { 
            padding: 20px;
            .quotation-no-data {
                text-align: center;
                padding: 15% 0;
                width: 100%;
                img {
                    width: 200px;
                }
                h6 {
                    margin-top: 10px;
                }
                p {
                    color: #0000009c;
                    font-weight: 300;
                    margin-top: 10px;
                }
            }
            .ant-table-wrapper {
                text-align: left;
                .ant-table {
                    .ant-table-tbody {
                        tr {
                            cursor: pointer;
                            td {
                                button {
                                    padding: 9px 16px;
                                    font-size: 13px;
                                }
                                &:last-child {
                                    >span {
                                        color: #fff;
                                        background: #5cb85b;
                                        display: inline-block;
                                        padding: 7px 8px;
                                        border-radius: 5px;
                                        width: 93px;
                                        text-align: center;
                                        &:hover {
                                            background-color: #3ea93c;
                                        }
                                    }
                                    span.pending-status {
                                        background: #4cc9f0;
                                        width: 120px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .underwriting-quotation-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background: #F2F4FA;
        border-radius: 8px;
        padding: 10px;
        font-weight: 600;
        font-size: 16px;
        position: relative;
        margin-top: 30px;
        span {
            background: rgba(30, 17, 71, 0.04);
            border-radius: 6px;
            padding: 9px 13px;
            margin-right: 16px;
            cursor: pointer;
            transition: 300ms ease-in-out;
        }
        em {
            font-style: normal;
        }
    }
    .underwriting-insurance-data {
        border-radius: 10px;
        background: #fff;
        margin-top: 12px;
        box-shadow: 0 0px 20px 0 #00000014;
        position: relative;

        .underwriting-insurance-header {
            padding: 24px 24px 4px;
            border: 0;

            h6 {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: calc(100% - 520px);

                span.insured-name {
                    background: rgba(30, 17, 71, 0.48);
                    width: 56px;
                    height: 56px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin-right: 16px;
                    font-size: 23px;
                    text-transform: uppercase;
                }

                >em {
                    font-style: normal;
                    width: calc(100% - 91px);
                    text-transform: capitalize;

                    em {
                        display: block;
                        font-size: 14px;
                        font-style: normal;
                        margin-top: 5px;
                        font-weight: 400;

                        strong {
                            font-weight: 400;
                            text-transform: capitalize;
                        }
                    }
                }
            }
            span.quotation-pdf, span.certificate-pdf {
                position: absolute;
                top: 10px;
                right: 45px;
                border: 1px solid #f72485;
                width: 51px;
                height: 55px;
                display: inline-block;
                border-radius: 4px;
                margin-left: 5px;
                cursor: pointer;
                font-size: 7px;
                text-align: center;
                word-break: break-all;
                img {
                    width: 100%;
                    filter: none;
                    border-radius: 4px;
                }
                strong {
                    margin-top: 10px;
                    display: block;
                    color: #000;
                }
            }
            span.certificate-pdf {
                right: 100px;
            }
        }
        .underwriting-insurance-body {
            padding: 32px;
            .underwriting-insurance-details {
                >ul {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0 20px 20px;
                    border-radius: 8px;
                    background: #FAFBFF;
                    li {
                        width: calc(100% / 5);
                        list-style: none;
                        margin: 24px 0 0;
                        padding-right: 20px;
                        word-break: break-all;

                        strong {
                            display: block;
                            color: #1e1147a3;
                            font-weight: 400;
                        }
                        span {
                            font-weight: 600;
                            display: block;
                            text-transform: capitalize;
                            margin-top: 8px;
                            span.anticon-eye {
                                display: inline-block;
                                transform: translateY(-3px);
                                margin-left: 3px;
                                cursor: pointer;
                                color: #b77103;
                                font-size: 12px;
                            }
                            span.anticon-info-circle {
                                display: inline;
                                position: relative;
                                top: -3px;
                                margin-left: 5px;
                                color: #e30000;
                                cursor: pointer;
                            }
                            span.anticon.anticon-edit {
                                display: inline;
                                position: relative;
                                top: -3px;
                                margin-left: 5px;
                                color: #2c63ff;
                                cursor: pointer;
                            }
                        }
                        
                        b {
                            display: block;
                            color: #828282;
                            font-weight: 500;
                        }
                        >span {
                            font-weight: 600;
                            display: block;
                            color: #000;
                            text-transform: capitalize;
                            >a {
                                >span {
                                    text-align: left;
                                    font-size: 28px;
                                    margin-top: 5px;
                                    color: #ff0000;
                                }
                            }
                        }
                        span.fail-status {
                            color: #c72b2beb;
                            cursor: pointer;
                        }
                        span.pending-status {
                            color: #4cc9f0;
                            cursor: pointer;
                            width: 120px;
                        }
                        span.na-status, span.success-status {
                            color: #5cb85b;
                            // cursor: pointer;
                        }
                        span.pay-status {
                            cursor: pointer;
                        }
                    }
                    li.cover-details {
                        width: 100%;
                        b {
                            margin-bottom: 10px;
                        }
                        >span {
                            display: flex;
                            flex-wrap: wrap;
                            border: 1px solid #ccc;
                            margin: 0;
                            border-top: 0;
                            &:nth-child(2) {
                                border-top: 1px solid #ccc;
                                background: #cccccc6b;
                            }
                            span {
                                padding: 10px;
                                width: calc(50% - 60px);
                                border-left: 1px solid #ccc;
                                margin: 0;
                                &:nth-child(1) {
                                    width: 60px;
                                    padding: 10px;
                                    text-align: center;
                                    margin: 0;
                                    border-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.ant-modal.kyc-form-modal {
    form {
        .ant-space {
            align-items: center;
            border-top: 1px solid #f09300;
            margin-top: 40px;
            padding-top: 40px;
            &:first-child {
                border-top: 0px solid #f09300;
                margin-top: 00px;
                padding-top: 0px;
                .ant-space-item {
                    &:last-child {
                        display: none;
                    }
                }
            }
            .ant-space-item {
                width: 16%;
                &:last-child {
                    margin-top: 21px;
                    width: auto;
                }
            }
        }
        
        .ant-row.ant-form-item {
            &:last-child {
                width: 100%;
                margin-left: 0;
                margin-bottom: 0;
                button.ant-btn.ant-btn-primary {
                    padding: 13px 40px;
                }
            }
            input.ant-input {
                background-color: #fff !important;
                border: 1px solid #e7e7e7;
                border-radius: 5px !important;
                padding: 12px 15px
            }
            span.ant-select-selection-item, input#basic_dob {
                font-weight: 500;
            }
            button.ant-btn.ant-btn-dashed.ant-btn-block {
                width: auto;
                background: transparent;
                color: #f72485;
                padding: 0;
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 13px;
            }
            
        }
    }
    button.dismiss-btn {
        width: 100%;
        margin-top: 33px;
    }
    img {
        margin: 0 auto;
        display: block;
    }
    p {
        font-weight: 500;
        font-size: 17px;
        text-align: center;
    }
}
.ant-modal.kyc-form-modal.active {
    .ant-modal-header, button.ant-modal-close {
        display: none;
    }
    .ant-modal-content {
        .ant-modal-body {
            background: #FBFBFB;
            border-radius: 16px;
            padding: 0 30px 30px;
        }
    }
}