.device-buy-policy-section {
    padding-bottom: 40px;
    .policy-card-inner {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        .policy-card {
            box-shadow: 0 1.0566px 10.566px #00000026;
            border-radius: 10px;
            width: calc((100% - 60px) / 4);
            margin-left: 15px;
            padding: 15px;
            background: #fff;
            border: 1px solid #f7248500;
            cursor: pointer;
            &:first-child {
                margin-left: 0;
            }
            p {
                color: #0000009c;
                font-weight: 500;
            }
            h2 {
                font-size: 26px;
                font-weight: 600;
                margin-top: 15px;
                line-height: 1;
            }
        }
        .policy-card.active {
            border: 1px solid #f72485;
        }
    }
    .buy-policy-form {
        margin-top: 40px;
        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 670px;
            margin: 0 auto;
            .ant-form-item {
                margin-bottom: 0;
                margin-right: 10px;
                width: calc((100% - 300px) /2);
                &:last-child {
                    width: 257px;
                    margin-right: 0;
                }
                .ant-picker {
                    width: 100%;
                    padding: 0;
                    border-radius: 8px;
                    border: 0;
                    box-shadow: none;
                    input {
                        padding: 11.5px 20px;
                        border-radius: 8px;
                        background-color: #fff !important;
                        border: 1px solid #d9d9d9;
                        font-weight: 500;
                    }
                    span.ant-picker-suffix {
                        position: absolute;
                        right: 10px;
                    }
                    span.ant-picker-clear {
                        display: none;
                    }
                }
                .ant-form-item-explain {
                    position: absolute;
                    bottom: -26px;
                    left: 0;
                    right: 0;
                }
            }
            button {
                padding: 12px 20px;
                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
    .ant-tabs-nav {
        margin: 50px 0 0;
        .ant-tabs-tab {
            margin: 0;
            margin-right: 5px;
            padding: 12px 18px;
            border-radius: 5px 5px 0 0;
            background: #cbcbcb4f;
            transition: 300ms ease-in-out;
            &:hover {
                color: #fff;
                background: #6d6d6d;
            }
        }
        .ant-tabs-tab.ant-tabs-tab-active {
            background: #f72485;
            .ant-tabs-tab-btn {
                color: #fff;
            }
        }
        .ant-tabs-ink-bar {
            display: none;
        }
    }
    .buy-policy-data {
        box-shadow: 0 1.0566px 10.566px #00000026;
        border-radius: 10px;
        background: #fff;
        .buy-policy-header {
            border-bottom: 1px solid #e6e3e3;
            padding: 14px 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
            span {
                background: #f72485;
                color: #fff;
                padding: 7px 11px;
                border-radius: 5px;
                cursor: pointer;
                transition: 300ms ease-in-out;
                font-size: 14px;
                margin-right: 10px;
                img {
                    width: 20px;
                    margin-right: 2px;
                    line-height: 0;
                }
            }
            i {
                font-style: normal;
                display: block;
                font-size: 13px;
            }
            .excel-download {
                position: absolute;
                top: 16px;
                right: 22px;
                cursor: pointer;
                img {
                    width: 50px;
                }
            }
        }
        .buy-policy-body { 
            padding: 20px;
            position: relative;
            ul.ant-pagination {
                margin: 16px 0;
                justify-content: flex-end;
                display: flex;
                flex-wrap: wrap;
            }
            .ant-table-wrapper {
                text-align: left;
                .ant-table {
                    .ant-table-thead {
                        tr {
                            th {
                                color: #000;
                                text-align: left;
                                text-transform: capitalize;
                                font-weight: 600;
                                font-size: 14px;
                            }
                        }
                    }
                    .ant-table-tbody {
                        tr {
                            cursor: pointer;
                            td {
                                &:nth-child(1) {
                                    text-align: center;
                                }
                                button {
                                    padding: 9px 16px;
                                    font-size: 13px;
                                }
                                &:last-child {
                                    text-align: center;
                                    >span {
                                        color: #fff;
                                        background: #4cc9f0;
                                        display: inline-block;
                                        padding: 7px 8px;
                                        border-radius: 5px;
                                        width: 93px;
                                        text-align: center;
                                        &:hover {
                                            background-color: #4cc9f0;
                                        }
                                    }
                                    span.fail-status {
                                        background: #ff3131eb;
                                    }
                                    span.pending-status {
                                        width: 120px;
                                    }
                                    span.inprogress-status {
                                        background: #212a6d;
                                    }
                                    span.anticon.anticon-undo {
                                        width: auto;
                                        background: transparent;
                                        padding: 0;
                                        color: #ff9d08;
                                        margin-left: 5px;
                                    }
                                    span.na-status {
                                        color: #000;
                                    }
                                    span.pay-status {
                                        cursor: pointer;
                                        &:hover {
                                            color: #379736;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .page-count {
                position: absolute;
                bottom: 38px;
                left: 20px;
                font-weight: 600;
            }
            .policy-no-data {
                text-align: center;
                padding: 15% 0;
                width: 100%;
                img {
                    width: 200px;
                }
                h6 {
                    margin-top: 10px;
                }
                p {
                    color: #0000009c;
                    font-weight: 300;
                    margin-top: 10px;
                }
            }
        }
        .buy-policy-by-id {
            padding: 20px;
            ul {
                display: flex;
                flex-wrap: wrap;
                padding: 10px 2%;
                border: 2px solid #f72485;
                border-radius: 15px;
                li {
                    width: 20%;
                    list-style: none;
                    margin: 10px 0;
                    padding-right: 20px;
                    word-break: break-all;
                    b {
                        display: block;
                        color: #828282;
                        font-weight: 500;
                    }
                    span {
                        font-weight: 600;
                        display: block;
                        color: #000;
                        text-transform: capitalize;
                    }
                    span.fail-status {
                        color: #c72b2beb;
                        cursor: pointer;
                    }
                    span.pending-status {
                        color: #4cc9f0;
                        cursor: pointer;
                        width: 120px;
                    }
                    span.na-status {
                        color: #5cb85b;
                        cursor: pointer;
                    }
                    span.pay-status {
                        cursor: pointer;
                    }
                }
                li.lowerCaseText {
                    span {
                        text-transform: lowercase;
                    }
                }
            }
        }
    }
    .buy-policy-bottom {
        position: relative;
        margin-top: 50px;
        .sorting {
            position: absolute;
            top: 7px;
            right: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-weight: 600;
            cursor: pointer;
            z-index: 2;
            i {
                color: #000;
                font-style: normal;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                &:hover {
                    color: #f72485;
                }
            }
            .ant-btn {
                padding: 8px 14px !important;
                font-weight: 500;
                font-size: 12px;
                line-height: normal;
                margin-left: 20px;
            }
            span {
                margin-left: 7px;
            }
        }
        .ant-tabs-nav {
            margin-top: 0;
        }
        .buy-policy-data.history-section {
            margin-top: 0;
            .buy-policy-body {
                padding-top: 0;
                display: flex;
                flex-wrap: wrap;
                >ul {
                    padding-left: 20px;
                    >li {
                        padding: 30px 0;
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 39px;
                            left: -14px;
                            width: 7px;
                            height: 7px;
                            background: #000;
                            border-radius: 50%;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: 43px;
                            left: -11px;
                            bottom: -40px;
                            width: 1px;
                            background: #000;
                        }
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            padding-left: 20px;
                            li {
                                width: 33%;
                                padding-right: 30px;
                                margin-top: 7px;
                                b.blink-animation {
                                    animation: pending 1s ease-in-out infinite;
                                    font-size: 17px;
                                }
                                b.success {
                                    color: #5cb85b;
                                }
                                b.pending{
                                    color: #f72485;
                                }
                                b.fail {
                                    color: #ff0000;
                                }
                            }
                        }
                    }
                    li.success {
                        &::before, &::after {
                            background: #5cb85b;
                        }
                    }
                    li.fail {
                        &::before, &::after {
                            background: #ff0000;
                        }
                    }
                }
            }
        }
        .buy-policy-data.comment-section {
            .buy-policy-body {
                form {
                    width: 60%;
                    .ant-row.ant-form-item {
                        textarea {
                            box-shadow: none;
                            outline: none;
                            border: 1px solid #d9d9d9 !important;
                            font-weight: 500;
                        }
                        button.ant-btn {
                            padding: 8px 20px;
                            &:last-child {
                                background: #ccc;
                                color: #fff;
                                margin-left: 10px;
                                &:hover {
                                    background: #898989;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                ul {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        width: 100%;
                        margin-top: 20px;
                        list-style: none;
                        b {
                            font-weight: 600;
                            span {
                                width: 30px;
                                height: 30px;
                                background: #f72485;
                                color: #fff;
                                border-radius: 50%;
                                text-align: center;
                                display: inline-block;
                                line-height: 30px;
                                margin-right: 8px;
                            }
                            i {
                                font-style: normal;
                                font-weight: 500;
                                margin-left: 20px;
                                font-size: 14px;
                            }
                        }
                        >span {
                            display: block;
                            margin-top: 0px;
                            padding-left: 46px;
                        }
                    }
                }
            }
        }
    }
    .buy-policy-bottom.order-change {
        .buy-policy-data.history-section {
            .buy-policy-body {
                >ul {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column-reverse;
                    >li {
                        &:last-child {
                            &::after {
                                display: block;
                            }
                        }
                        &:first-child {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .buy-policy-data.comment-section {
            .buy-policy-body {
                flex-direction: column-reverse;
                form {
                    margin-top: 30px;
                }
                ul {
                    flex-direction: column-reverse;
                }
            }
        }
    }
}

.policy-modal {
    form {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        .ant-form-item {
            width: calc((100% - 30px) / 4);
            margin-left: 10px;
            margin-bottom: 11px;
            &:nth-child(4n + 1) {
                margin-left: 0;
            }
            &:last-child {
                margin-left: 0;
                width: 100%;
                margin-bottom: 0;
                margin-top: 12px;
            }
            input.ant-input {
                padding: 12px 15px;
            }
            .ant-select {
                .ant-select-selector {
                    height: auto;
                    padding: 7px 15px;
                    border-radius: 8px;
                    border-color: #f0f0f0 !important;
                    background-color: #f0f0f0 !important;
                    box-shadow: none;
                    outline: none;
                    .ant-select-selection-search {
                        left: 15px;
                        input {
                            height: 100%;
                            box-shadow: none;
                            border: 0;
                        }
                    }
                    .ant-select-selection-placeholder {
                        font-size: 14px;
                        font-weight: 400;
                        color: #d5d5d5;
                    }
                    span.ant-select-selection-item {
                        font-weight: 500;
                    }
                }
            }
            .ant-form-item-explain {
                font-size: 11px;
            }
            .ant-picker {
                width: 100%;
                padding: 0;
                border-radius: 8px;
                border: 0;
                box-shadow: none;
                input {
                    padding: 11px 20px;
                    border-radius: 8px;
                    font-weight: 500;
                    font-size: 15px;
                    border-color: #f0f0f0 !important;
                    background-color: #f0f0f0 !important;
                }
                span.ant-picker-suffix {
                    position: absolute;
                    right: 10px;
                }
                span.ant-picker-clear {
                    display: none;
                }
            }
        }
        .tooltip-input-item {
            width: calc((100% - 30px) / 4);
            margin-left: 10px;
            margin-bottom: 11px;
            position: relative;
            &:nth-child(4n + 1) {
                margin-left: 0;
            }
            span.input-tooltip {
                position: absolute;
                z-index: 1;
                right: 0;
                top: 8px;
                cursor: pointer;
            }
        }
    }
}

.ant-modal.policy-status-modal, .ant-modal.policy-verify-modal {
    .ant-modal-body {
        text-align: center;
        h6 {
            font-weight: 500;
            span.success-blink {
                animation: success 1s ease-in-out infinite;
            }
            @keyframes success {
                0% {
                    color: #000;
                }
                100% {
                    color: #5cb85b;
                }
            }
        }
        button {
            margin-top: 12px;
            padding: 11px 20px;
            background: #03ca03;
            &:hover {
                background: #009700;
            }
        }
    }
}


// .ant-modal.payment-method-modal {
//     h4 {
//         margin-top: 30px;
//     }
//     .bulk-payment-form {
//         .ant-form-item {
//             &:last-child {
//                 text-align: right;
//                 button {
//                     padding: 12px 28px;
//                 }
//             }
//             .ant-radio-group  {
//                 .ant-radio-wrapper {
//                     width: 100%;
//                     margin-left: -15px;
//                     margin-top: 10px;
//                     .ant-radio {
//                         display: none;
//                     }
//                     .payment-radio {
//                         border: 1px solid #cdcdcd;
//                         border-radius: 10px;
//                         padding: 10px;
//                         width: 270px;
//                         .anticon {
//                             transform: translateY(-3px);
//                             margin-right: 5px;
//                         }
//                     }
//                 }
//                 .ant-radio-wrapper-checked {
//                     .payment-radio {
//                         border: 1px solid #f72585;
//                     }
//                 }
//             }
//         }
//     }
//     // individual payment 
//     .buy-policy-payment-card {
//         border: 1px solid #000;
//         padding: 20px;
//         border-radius: 10px;
//         box-shadow: 2px 2px 8px #000000;
//         .policy-payment-card-header {
//             display: flex;
//             flex-wrap: wrap;
//             justify-content: space-between;
//             align-items: center;
//             .product-name {
//                 width: 30%;
//                 button {
//                     background-color: #825AE2;
//                     color: #fff;
//                     padding: 7px 18px;
//                     border-radius: 20px;
//                     font-size: 14px;
//                 }
//             }
//             .payment-card-logo {
//                 width: 40%;
//                 text-align: right;
//                 img {
//                     width: 150px;
//                 }
//             }
//             .quote-details {
//                 h4 {
//                     margin-top: 0px;
//                     font-size: 15px;
//                 }
//                 h5 {
//                     font-size: 15px;
//                     color: #FF72B1;
//                     text-align: right;
//                 }
//             }
//         }
//         .card-premium {
//             display: flex;
//             flex-wrap: wrap;
//             align-items: center;
//             margin-top: 30px;
//             .card-premium-icon {
//                 width: 10%;
//                 img {
//                     width: 50px;
//                 }
//             }
//             .card-premium-amount {
//                 width: 30%;
//                 span {
//                     font-size: 12px;
//                 }
//                 h4 {
//                     margin-top: 0 !important;
//                     font-size: 22px !important;
//                     color: #825AE2;
//                 }
//             }
//             .quote-details {
//                 width: 60%;
//                 text-align: right;
//                 h4 {
//                     margin-top: 0;
//                     font-size: 15px;
//                 }
//                 h5 {
//                     font-size: 15px;
//                 }
//             }
//         }
//         .card-info {
//             display: flex;
//             flex-wrap: wrap;
//             margin-top: 20px;
//             .card-info-col {
//                 width: 45%;
//                 &:nth-child(2) {
//                     text-align: center;
//                     width: 26%;
//                 }
//                 &:nth-child(3) {
//                     text-align: center;
//                     width: 26%;
//                 }
//                 h3 {
//                     font-weight: 600;
//                     font-size: 15px;
//                 }
//                 p {
//                     span {
//                         display: block;
//                         margin-top: 5px;
//                         img {
//                             width: 18px;
//                             margin-right: 5px;
//                         }
//                     }
//                 }
//             }
//         }
//         .card-validity {
//             margin-top: 15px;
//             p {
//                 &:first-child {
//                     font-size: 14px;
//                     font-weight: 600;
//                 }
//                 span {
//                     margin-right: 12px;
//                 }
//             }
//         }
//     }
    
// }